<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/system/css/jedate.css" />
		<link rel="stylesheet" type="text/css" href="/system/css/all.css" />
		<link rel="stylesheet" type="text/css" href="/system/css/iconfont.css" />
		<script src="/system/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/system/js/jquery.jedate.js" type="text/javascript" charset="utf-8"></script>
		<script src="/system/js/jquery-form.js" type="text/javascript" charset="utf-8"></script>
		<!--弹窗移动-->
		<script src="/system/js/drag.js" type="text/javascript" charset="utf-8"></script>
		<!--编辑器-->
		<script type="text/javascript" charset="utf-8" src="/system/js/UMeditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="/system/js/UMeditor/ueditor.all.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="/system/js/UMeditor/lang/zh-cn/zh-cn.js"></script>
		<!--上传-->
		<script src="/system/js/plupload.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/system/js/all.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript"
				src="http://api.map.baidu.com/api?v=2.0&ak=2MEObkjOjLGD0vEfEmN3UL0CbPhmgrLj	"></script>

	</head>

	<body>
		<section class="dyjss">
			<div style="width: 100%;height: 100%;" id="courtbcdoc_cont">
				<section class="dyjss">
					<div class="courtbcdoc-cont">
						<article class="top fs18">
							<a href="#" class="mgr5 colft00 ahover">公众参与应用管理</a>
							<span class="icon icon-you2 fs16"></span>
							<a href="#" class="mgr5 colft00 ahover">公众参与应用管理</a>
							<span class="icon icon-you2 fs16"></span>
							<a class="mgr5 colft00">地图</a>
						</article>
						<!--地图-->
						<form id="addCob_address" action="/CobMap/addCob_address" method="post">
							<input type="hidden" name="coordinate_x" value="">
							<input type="hidden" name="coordinate_y" value="">
							<!--搜索与添加-->
							<article class="dyjs mgt30 mgl30 mgr30">
								<!--搜索-->
								<div class="dyjc mapsearch fs18">
									<span class="">搜索：</span>
									<input type="text" name="address" id="address" class="inp" value="" />
									<input type="button" name="" id="addressLocal" class="bt mgl15" value="确定" />
								</div>
								<!--添加-->
								<div class="dyjc mgl30 mapsearch fs18">
									<span>添加党组织：</span>
									<input type="text" name="name" required="required" id="cob_name" class="inp" value="" />
									<input type="button" name="" id="cob_preview" class="bt mgl15" value="预览" />
									<input type="submit" name="" id="create_address" class="bt mgl15" value="保存" />
								</div>
							</article>
						</form>
							<!--地图-->
							<article class="mgt30 mgl30 mgr30">
								<div class="fs18">地图显示：</div>
								<div id="map" class="mgt15 mgb30" style="width: 100%;height: 550px;border: 1px solid #D4D4D4;">
								</div>
							</article>
					</div>
				</section>
			</div>
		</section>
	</body>
	<script src="/system/js/ajaxCustom.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var myGeo = new BMap.Geocoder();
		var map = new BMap.Map("map");


		//地图展示
		function showMap() {
			map.centerAndZoom(new BMap.Point("110.228144", "19.952145"), 11);//以哪个点位中心,
			map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
			map.enableScrollWheelZoom(true);//鼠标缩放


			//单击获取点击的经纬度
			map.addEventListener("click",function(e){
				map.clearOverlays();
				var marker = new BMap.Marker(new BMap.Point(e.point.lng,e.point.lat));  // 创建标注
				map.addOverlay(marker);               // 将标注添加到地图中
				marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
				$("input[name='coordinate_x']").val(e.point.lng);
				$("input[name='coordinate_y']").val(e.point.lat);
			});
		}

		$(function () {
			showMap();

			function add_overlay(point){
				map.clearOverlays();
				 marker=null;
				if(!isNull(point)){
					marker = new BMap.Marker(point);
				}
				marker = new BMap.Marker(new BMap.Point( $("input[name='coordinate_x']").val(),$("input[name='coordinate_y']").val()));  // 创建标注
				map.addOverlay(marker);               // 将标注添加到地图中
				marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
			}

			//地图添加标注
			$("#createLabel").bind("click", function () {
				add_overlay(null);
			});

			//预览
			$("#cob_preview").bind("click", function () {
				map.clearOverlays();
				if(isNull($("input[name='name']").val())){
					alert("请输入党组织名称!");
					return false;
				}
				if(isNull($("input[name='coordinate_x']").val())||isNull($("input[name='coordinate_y']").val())){
					alert("请点击下面地图标记组织所在坐标!");
					return false;
				}
				var point = new BMap.Point($("input[name='coordinate_x']").val(), $("input[name='coordinate_y']").val());
				map.centerAndZoom(point, 16);
				var myLabel = new BMap.Label($("input[name='name']").val(),     //为lable填写内容
						{offset:new BMap.Size(-15,-20),                  //label的偏移量，为了让label的中心显示在点上
							position:point});                                //label的位置
				myLabel.setTitle("坐标:"+ $("input[name='coordinate_x']").val()+" "+$("input[name='coordinate_y']").val());  //为label添加鼠标提示
				myLabel.setStyle({                                   //给label设置样式，任意的CSS都是可以的
					color:"red",                   //颜色
					fontSize:"14px",               //字号
					border:"30px",                    //边
					height:"32px",                //高度
					width:"35px",                 //宽
					textAlign:"center",            //文字水平居中显示
					lineHeight:"70px",            //行高，文字垂直居中显示
					background:"url(../img/dq_1.png)",    //背景图片
					cursor:"pointer"
				});
				var opts = {
					width : 200,     // 信息窗口宽度
					height: 100,     // 信息窗口高度
					title : "海底捞王府井店" , // 信息窗口标题
					enableMessage:true,//设置允许信息窗发送短息
					message:"亲耐滴，晚上一起吃个饭吧？戳下面的链接看下地址喔~"
				};
				map.addOverlay(myLabel);                             //把label添加到地图上
				var infoWindow = new BMap.InfoWindow("地址：北京市东城区王府井大街88号乐天银泰百货八层", opts);  // 创建信息窗口对象
				myLabel.addEventListener("click", function(){
					//alert("ok");
					map.openInfoWindow(infoWindow,point); //开启信息窗口
				});
			});

			//通过地址获取地图位置
			$("#addressLocal").bind("click",function () {
				var address =$("input[name='address']").val();
				if (!address) {
					alert("地址不能为空");
				}else {
					myGeo.getPoint(address, function(point){
						if (point) {
							map.centerAndZoom(point, 16);
						}else{
							alert("您的地址没有解析到结果!");
						}
					}, address);
				}
			})

		});

		$("#addCob_address").submit(function(){
			if(isNull($("input[name='coordinate_x']").val())||isNull($("input[name='coordinate_y']").val())){
				alert("请点击下面地图标记组织所在位置!");
				return false;
			}
			return true;
		});

		$("#addCob_address").ajaxForm(function(result){
			if(isNull(result.info)){
				alert("post error." +result.error);
			}else{
				alert("post success." +result.info);
			}
		});
	</script>

</html>