<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/jedate.css" />
		<link rel="stylesheet" type="text/css" href="css/all.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.jedate.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-form.js" type="text/javascript" charset="utf-8"></script>
		<!--弹窗移动-->
		<script src="js/drag.js" type="text/javascript" charset="utf-8"></script>
		<!--编辑器-->
		<script type="text/javascript" charset="utf-8" src="js/UMeditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/UMeditor/ueditor.all.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/UMeditor/lang/zh-cn/zh-cn.js"></script>
		<!--上传-->
		<script src="js/plupload.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/all.js" type="text/javascript" charset="utf-8"></script>
		<!--layer-->
		<script src="../js/layer.js" type="text/javascript" charset="utf-8"></script>

		<style type="text/css">
			.adddtimgli>div img,
			#addimgdiv img{
				max-width: 100%;
				max-height: 100%;
				min-width: auto;
				min-height: auto;
			}

		</style>
	</head>

	<body>
		<section class="dyjss">
			<div style="width: 100%;height: 100%;" id="courtbcdoc_cont">
				<section class="dyjss">
					<div class="courtbcdoc-cont">
						<article class="top fs18">
							<a href="#" class="mgr5 colft00 ahover">公众参与应用管理</a>
							<span class="icon icon-you2 fs16"></span>
							<a href="#" class="mgr5 colft00 ahover">公众参与应用管理</a>
							<span class="icon icon-you2 fs16"></span>
							<a class="mgr5 colft00">新增</a>
						</article>
						<!--修改或查看、新增-->
						<!--表格-->
						<form action=${result.add_url!""} id="saveReportForm" method="post" enctype="multipart/form-data">
							<input type="hidden" name="id" value="${result.id!''}">
							<table border="" class="adddoc-table mgt30">
								<tr class="adddoc-tr">
									<td class="textalignr pgt5 pgb5" style="width:15%">标题：</td>
									<td style="width:85%" class="pgt5 pgb5">
										<div class="dyjs pgl10 pgr10">
											<input type="text" id="title" name="title" style="width: 100%;" required="required"  value="" />
										</div>
									</td>
									<td class="textalignr pgt5 pgb5" style="width:15%">发布时间：</td>
									<td style="width:85%" class="pgt5 pgb5">
										<div class="dyjs pgl10 pgr10">
											<input type="text" id="pubDate" name="pubDate" style="width: 50%;" required="required"  value="" />
										</div>
									</td>
								</tr>
								<tr class="adddoc-tr">
									<td class="textalignr pgt5 pgb5">封面：</td>
									<td class="pgt5 pgb5" colspan="3">
										<div class="dyjs pgl10 pgr10 addimg">
											<div class="dyjs">
												<label for="singlegraph">点击上传封面</label>
												<input type="file"  name="cover_pic" id="singlegraph" />
											</div>
											<div id="addimgdiv" class="dyjc">暂无图片</div>
										</div>
									</td>
								</tr>
								<tr class="adddoc-tr">
									<td class="textalignr pgt5 pgb5">多图上传：</td>
									<td class="pgb10" colspan="3">
										<ul id="file-list">
											<!--<li class="fl adddtimgli col-lg-7 col-min-6 col-small-5">
												<div class="dyjc"><img src="img/dzjg.png" /></div>
												<span class="curp ahover">删除</span>
											</li>-->
										</ul>
										<div class="fl adddtimgli col-lg-7 col-min-6 col-small-5">
											<div class="dyjc addimginp">
												<input type="file" name="more_pic" id="browse"/>
												<label for="browse"><img src="img/jia.png"/></label>
											</div>
										</div>
										<div class="clearb"></div>
									</td>
								</tr>
							</table>
							<article class="adddoc-editortop mgt30">
								<span>文章内容：</span>
							</article>
							<article class="adddoc-editorcontent">
								<script id="editor" name="content" type="text/plain" style="width: 1000px;min-height: 400px"></script>
							</article>
							<article class="adddoc-editorbt">
								<input type="submit" name="" id="start_upload" class="bce6 colftff" value="保存"/>
								<input type="reset" name="" id="" class="bc3c colftff mgl80" value="清空" />
							</article>
						</form>
					</div>
				</section>
			</div>
		</section>

		<script src="js/upload.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {

				var updated = {
					skinCell:"jedatered",
					format: 'YYYY-MM-DD',
					minDate: '1060-01-01', //设定最小日期
					festival: false, //是否显示农历节日
					ishmsVal: true, //是否限制时分秒输入框输入，默认可以直接输入时间
					maxDate: $.nowDate(0) //最大日期
				};
				$('#pubDate').jeDate(updated);

				//富文本编辑器
				UE.getEditor('editor')

				UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
				UE.Editor.prototype.getActionUrl = function(action){
					if(action == '/system/images'){
						return '/system/images';
					}else{
						return this._bkGetActionUrl.call(this, action);
					}
				}

				var w = $(".adddtimgli").eq(0).width();
				var scale = 4 / 3;
				var h = w / scale;
				$(".adddtimgli>div").css("height", h);
			});
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$("#saveReportForm").ajaxForm(function(result){
					if(isNull(result.id)){
						alert("post error." +result.error);
						return false;
					}else{
						var data={
							objId:result.id,
						}
						alert("post success." +result.id);
						//多图上传
						if(!isEmpty(multileuploader.files)&&!isNull('${result.morePic_url!""}')){
							multileuploader.setOption('multipart_params',data);
							multileuploader.setOption('url','${result.morePic_url!""}');
							multileuploader.start();
						}
						//单图上传
						if(!isEmpty(singleuploader.files)&&!isNull('${result.CoverPic_url!""}')){
							singleuploader.setOption('multipart_params',data);
							singleuploader.setOption('url','${result.CoverPic_url!""}');
							singleuploader.start();
						}
					}
					var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
					parent.layer.close(index);
				});
			});
			/*document.getElementById('start_upload').onclick = function() {
				//id='${result.url!""}';
				//multileuploader.multipart_params={objId:id};
				singleuploader.start();
				//multileuploader.start();
				 //调用实例对象的start()方法开始上传文件，当然你也可以在其他地方调用该方法
			}*/
		</script>
	</body>

</html>