<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/jedate.css" />
		<link rel="stylesheet" type="text/css" href="css/all.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.jedate.js" type="text/javascript" charset="utf-8"></script>
		<!--弹窗移动-->
		<script src="js/drag.js" type="text/javascript" charset="utf-8"></script>
		<!--编辑器-->
		<script type="text/javascript" charset="utf-8" src="UMeditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="UMeditor/ueditor.all.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="UMeditor/lang/zh-cn/zh-cn.js"></script>
		<!--上传-->
		<script src="js/plupload.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/all.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<section class="dyjss">
			<div style="width: 100%;height: 100%;" id="courtbcdoc_cont">
				<section class="dyjss">
					<div class="courtbcdoc-cont">
						<article class="top fs18">
							<a href="#" class="mgr5 colft00 ahover">公众参与应用管理</a>
							<span class="icon icon-you2 fs16"></span>
							<a href="#" class="mgr5 colft00 ahover">公众参与应用管理</a>
							<span class="icon icon-you2 fs16"></span>
							<a class="mgr5 colft00">新增</a>
						</article>
						<!--修改或查看、新增-->
						<!--表格-->
						<form action="新增.html" method="get">
							<table class="adddoc-table mgt30">
								<tr class="adddoc-tr">
									<td class="pgt5 pgb5">标题：</td>
									<td class="pgt5 pgb5">
										<div class="dyjs pgl10 pgr10">
											<input type="text" name="" style="width: 450px;" id="" value="" />
										</div>
									</td>
								</tr>
								<tr class="adddoc-tr">
									<td class="pgt5 pgb5">封面：</td>
									<td class="pgt5 pgb5">
										<div class="dyjs pgl10 pgr10 addimg">
											<div class="dyjs">
												<label for="singlegraph">上传封面</label>
												<input type="file" name="" id="singlegraph" value="" />
											</div>
											<div id="addimgdiv" class="dyjc mgl20">暂无图片</div>
										</div>
									</td>
								</tr>
								<tr class="adddoc-tr">
									<td class="pgt5 pgb5">多图上传：</td>
									<td class="pgb10">
										<ul id="file-list">
											<!--<li class="fl adddtimgli col-lg-7 col-min-6 col-small-5">
												<div class="dyjc"><img src="img/dzjg.png" /></div>
												<span class="curp ahover">删除</span>
											</li>-->
										</ul>
										<div class="fl adddtimgli col-lg-7 col-min-6 col-small-5">
											<div class="dyjc addimginp">
												<input type="file" name="browse" id="browse" value="" />
												<label for="browse"><img src="img/jia.png"/></label>
											</div>
										</div>
										<div class="clearb"></div>
									</td>
								</tr>
							</table>
							<article class="adddoc-editortop mgt30">
								<span>文章内容：</span>
							</article>
							<article class="adddoc-editorcontent">
								<script id="editor" type="text/plain" style="width: 1000px;height: 300px;"></script>
							</article>
							<article class="adddoc-editorbt">
								<input type="button" name="" id="start_upload" value="保存" />
								<input type="button" name="" id="" value="取消" onclick="backhtml()" />
							</article>
						</form>
					</div>
				</section>
			</div>
		</section>
		<script type="text/javascript">
			//实例化编辑器
			//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
			var ue = UE.getEditor('editor');
		</script>
		<script src="js/upload.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var w = $(".adddtimgli").eq(0).width();
				var scale = 4 / 3;
				var h = w / scale;
				$(".adddtimgli>div").css("height", h);
			});
		</script>
	</body>

</html>