html,
body {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
	color: #000000;
	font-size: 20px !important;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*自动换行*/

.wpbw {
	word-wrap: break-word;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

li {
	list-style-type: none;
}


/*一行内出现省略号*/

.overell {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/*两行内出现省略号*/

.overell2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*手势为选中*/

.curp {
	cursor: pointer;
}
/*a:hover颜色为红色*/

.ahover:hover {
	color: #E4393C !important;
}


/*行高*/

.lineh2 {
	line-height: 120% !important;
}

.lineh4 {
	line-height: 140% !important;
}

.lineh6 {
	line-height: 160% !important;
}

.lineh8 {
	line-height: 180% !important;
}

.lineh20 {
	line-height: 200% !important;
}


/*字体的颜色头部*/


/*按钮颜色*/

.colbt {}


/*字体颜色*/


/*红色*/

.colft3C {
	color: #E4393C !important;
}


/*白色*/

.colftff {
	color: #FFFFFF !important;
}


/*黑色*/

.colft00 {
	color: #000000 !important;
}


/*暗灰*/

.colft88 {
	color: #888888 !important;
}


/*黄色*/

.colftf0 {
	color: #FAF000 !important;
}


/*暗黑*/

.colft44 {
	color: #444444;
}


/*字体的颜色尾部*/


/*字体hover变红色*/

.hover3C:hover {
	color: #E4393C !important;
}


/*背景色头部*/

.bc36 {
	background: #D33336 !important;
}

.bcee {
	background: #EEEEEE !important;
}
.bce6 {
	background: #52B5E6 !important;
}
.bc3c {
	background: #E4393C !important;
}
/*背景色尾部*/


/*margin头部*/


/*top*/

.mgt5 {
	margin-top: 5px !important;
}

.mgt10 {
	margin-top: 10px !important;
}

.mgt15 {
	margin-top: 15px !important;
}

.mgt20 {
	margin-top: 20px !important;
}

.mgt25 {
	margin-top: 25px !important;
}

.mgt30 {
	margin-top: 30px !important;
}
.mgt40 {
	margin-top: 40px !important;
}
.mgt50 {
	margin-top: 50px !important;
}


/*bottom*/

.mgb5 {
	margin-bottom: 5px !important;
}

.mgb10 {
	margin-bottom: 10px !important;
}

.mgb15 {
	margin-bottom: 15px !important;
}

.mgb20 {
	margin-bottom: 20px !important;
}

.mgb25 {
	margin-bottom: 25px !important;
}

.mgb30 {
	margin-bottom: 30px !important;
}

.mgb50 {
	margin-bottom: 50px !important;
}


/*right*/

.mgr5 {
	margin-right: 5px !important;
}

.mgr10 {
	margin-right: 10px !important;
}

.mgr20 {
	margin-right: 20px !important;
}

.mgr30 {
	margin-right: 30px !important;
}


/*left*/

.mgl5 {
	margin-left: 5px !important;
}

.mgl10 {
	margin-left: 10px !important;
}

.mgl15 {
	margin-left: 15px !important;
}

.mgl20 {
	margin-left: 20px !important;
}

.mgl30 {
	margin-left: 30px !important;
}

.mgl50 {
	margin-left: 50px !important;
}

.mgl80 {
	margin-left: 80px !important;
}


/*margin尾部*/


/*padding头部*/


/*top*/

.pgt5 {
	padding-top: 5px !important;
}

.pgt10 {
	padding-top: 10px !important;
}

.pgt15 {
	padding-top: 15px !important;
}

.pgt20 {
	padding-top: 20px !important;
}

.pgt25 {
	padding-top: 25px !important;
}

.pgt30 {
	padding-top: 30px !important;
}


/*bottom*/

.pgb5 {
	padding-bottom: 5px !important;
}

.pgb10 {
	padding-bottom: 10px !important;
}

.pgb15 {
	padding-bottom: 15px !important;
}

.pgb20 {
	padding-bottom: 20px !important;
}

.pgb25 {
	padding-bottom: 25px !important;
}

.pgb30 {
	padding-bottom: 30px !important;
}


/*left*/

.pgl5 {
	padding-left: 5px !important;
}

.pgl10 {
	padding-left: 10px !important;
}

.pgl15 {
	padding-left: 15px !important;
}

.pgl20 {
	padding-left: 20px !important;
}

.pgl25 {
	padding-left: 25px !important;
}

.pgl30 {
	padding-left: 30px !important;
}
.pgl50 {
	padding-left: 50px !important;
}

/*right*/

.pgr5 {
	padding-right: 5px !important;
}

.pgr10 {
	padding-right: 10px !important;
}

.pgr15 {
	padding-right: 15px !important;
}

.pgr20 {
	padding-right: 20px !important;
}

.pgr25 {
	padding-right: 25px !important;
}

.pgr30 {
	padding-right: 30px !important;
}


/*padding尾部*/


/*font-size头部*/

.fs12 {
	font-size: 12px !important;
}

.fs14 {
	font-size: 14px !important;
}

.fs16 {
	font-size: 16px !important;
}

.fs18 {
	font-size: 18px !important;
}

.fs20 {
	font-size: 20px !important;
}

.fs22 {
	font-size: 22px !important;
}

.fs24 {
	font-size: 24px !important;
}

.fs26 {
	font-size: 26px !important;
}


/*font-size尾部*/


/*border头部*/


/*left*/

.bdleb {
	border-left: 1px solid #EBEBEB !important;
}


/*right*/

.bdreb {
	border-right: 1px solid #EBEBEB !important;
}


/*top*/

.bdteb {
	border-top: 1px solid #EBEBEB !important;
}

.bdt36 {
	border-top: 1px solid #D33336 !important;
}


/*bottom*/

.bdbeb {
	border-bottom: 1px solid #EBEBEB !important;
}


/*border尾部*/


/*对齐方式display头部*/

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.textalignc {
	text-align: center !important;
}

.textalignl {
	text-align: left !important;
}

.textalignr {
	text-align: right !important;
}

.clearb {
	clear: both !important;
}
.dyn{
	display: none;
}
.dyb{
	display: block;
}
.dyib{
	display: inline-block;
}
.dyjc {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.dyja {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.dyjb {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.dyjs {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.dyje {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.dyss {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}


/*对齐方式display尾部*/


/*加粗*/

.fwb {
	font-weight: bold;
}


/*登陆头部*/
.loading-all{
	width: 400px;
	height: 300px;
}
.loading-title {
	width: 100%;
	text-align: center;
	font-size: 30px;
	letter-spacing: 10px;
}

.loading-div {
	width: 400px;
	height: 300px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 10px;
}

.loading-div1 {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	text-align: center;
}


/*input*/

.loading-input {
	width: 300px;
	height: 30px;
	border: 1px solid #CBCBCB;
	border-radius: 6px;
	font-size: 14px;
	padding: 0 10px;
}


/*记住密码*/

.loading-div2>input {
	width: 13px;
	height: 13px;
	margin-left: 45px;
}

.loading-div2>span {
	font-size: 14px;
	padding-left: 5px;
}


/*登陆按钮*/

.loading-button {
	width: 250px;
	height: 30px;
	border: 1px solid #2DBE60;
	border-radius: 6px;
	font-size: 16px;
	background: #2DBE60;
	color: #FFFFFF;
	margin-top: 40px;
}


/*登陆尾部*/
/*所有的头部*/
.courtbcdoc-top {
	height: 50px;
	width: 100%;
	background: #E6EFF6;
}

.courtbcdoc-top>.title {
	font-size: 22px;
	letter-spacing: 3px;
}

.courtbcdoc-bottom {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	height: 35px;
	background: #52B5E6;
	color: #FFFFFF;
	border-bottom: 1px solid #D4D4D4;
}

.courtbcdoc-bottom>li {
	height: 100%;
	line-height: 35px;
	font-size: 17px;
	border-right: 1px solid #D4D4D4;
	text-align: center;
}
.courtbcdoc-bottom>li a{
	width: 100%;
	padding: 0 25px;
	height: 100%;
}
.courtbcdoc-bottom>li:hover{
	background: #708FE5;
}
.active {
	background: #637DC7;
}
/*下拉*/
.courtwzq-drop{
	position: absolute;
	top:30px;
	padding-top: 6px;
	min-width: 120px;
	background: transparent;
	z-index: 10000000000000;
	color: #000000;
}
.courtwzq-drop>ul{
	border: 1px solid #D4D4D4;
	border-radius: 5px;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	padding: 5px 0;
}
.courtwzq-drop>ul>li{
	font-size: 14px;
	text-align: left;
	height: 30px;
	line-height: 30px;
}
.courtwzq-drop>ul>li>a{
	display: inline-block;
	padding: 0 15px;
	width: 100%;
	height: 100%;
}
.courtwzq-drop>ul>li>a:hover{
	background: #708FE5;
	color: #FFFFFF !important;
}
/*所有的头部结束*/
/*列表页的内容开始*/
/*提示框*/
.prompt {
	position: absolute;
	left: 45%;
	top: 45%;
	font-size: 14px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.6);
	padding: 10px 15px;
	max-width: 200px;
	border-radius: 5px;
	z-index: 2000000000000;
}
.courtbcdoc-cont {
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}
.courtbcdoc-cont .top {
	height: 30px;
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	margin-left: 10px;
	margin-top: 15px;
	padding-left: 10px;
	border-left: 5px solid #52B5E6;
}

.courtbcdoc-cont .search {
	border: 1px solid #D4D4D4;
	font-size: 16px;
}

.courtbcdoc-cont .search ul input,
.courtbcdoc-cont .search ul select {
	height: 24px;
	font-size: 12px;
}

.courtbcdoc-cont .search .inp1 {
	width: 150px;
}

.courtbcdoc-cont .search .inp2 {
	width: 125px;
}
.courtbcdoc-cont .search .submitbt {
	padding: 0 20px;
}


/*按钮一行*/

.courtbcdoc-cont .button>button {
	height: 24px;
	padding: 0 10px;
	cursor: pointer;
}


/*列表*/

.courtbcdoc-cont .list {
	margin: 0;
	padding: 0;
}

.courtbcdoc-cont .list>li {
	height: 35px;
	width: 50px;
	font-size: 14px;
	border: 1px solid #D4D4D4;
	border-bottom: none;
	background: #F1F1F1;
	cursor: pointer;
	margin-right: 5px;
}
/*表格*/

.courtbcdoc-conttable {
	border-collapse: collapse;
	table-layout: fixed;
	empty-cells: show;
	border: 1px solid #D4D4D4;
	text-align: left;
	margin: 0 10px;
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
}

.courtbcdoc-conttr {
	width: 100%;
	height: 45px;
	font-size: 14px;
	margin: 0 10px;
}

.courtbcdoc-conttr:nth-child(1) {
	background: #E9E9E9;
	height: 30px !important;
}

.courtbcdoc-conttr input {
	width: 15px;
	height: 15px;
}

.courtbcdoc-conttr>th {
	text-align: center;
}

.courtbcdoc-conttr a {
	display: inline-block;
	color: #000000;
	text-decoration: underline;
	margin: 0 5px;
}

.courtbcdoc-conttr a:hover {
	color: #E4393C !important;
}


/*底部分页*/
.list-paging .bt {
	font-size: 14px;
	height: 25px;
	padding: 0 5px;
}
.list-paging .inp {
	font-size: 14px;
	height: 25px;
	width: 50px;
	text-align: center;
	padding: 0 5px;
}
.list-paging .div3{
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
}
/*列表页的内容结束*/
/*弹框开始*/
/*删除弹框*/
.adddoc-tk {
	position: absolute;
	width: 360px;
	background: #FFFFFF;
	border: 1px solid #D4D4D4;
	border-radius: 10px;
	z-index: 10000000;
}

.adddoc-tk .top {
	height: 30px;
	width: 100%;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #D0D0D0;
	font-size: 16px;
	padding: 0 10px;
}

.adddoc-tk .cnt {
	width: 100%;
	height: 370px;
	overflow: auto;
}

.adddoc-tk .foot {
	height: 40px;
	border-top: 1px solid #D4D4D4;
}

.adddoc-tk .foot>button {
	margin-right: 15px;
	background: #E6E6E6;
	border: none;
	border: 1px solid #D4D4D4;
	border-radius: 2px;
	padding: 5px 10px;
	cursor: pointer;
}
/*提示框*/
.adddoc-tstk {
	height: 200px !important;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -100px;
}
.adddoc-tstk>.cnt {
	height: 130px !important;
	font-size: 22px !important;
}
/*弹框结束*/
/*内容页开始*/
.adddoc-table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 30px;
	width: -moz-calc(100% - 60px);
	width: -webkit-calc(100% - 60px);
	width: calc(100% - 60px);
}
/*行*/
.adddoc-tr{
	font-size: 17px;
}
.adddoc-tr input,
.adddoc-tr select option{
	height: 25px;
}
.adddoc-tr>td:nth-child(1){
	width: 90px;
}
.adddoc-tr>td:nth-child(2){
	width: -moz-calc(100% - 90px);
	width: -webkit-calc(100% - 90px);
	width: calc(100% - 90px);
}
/*单图添加*/
.addimg>#addimgdiv{
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	border: 1px solid #D4D4D4;
	padding: 5px;
}
.addimg>div:nth-child(1){
	position: relative;
	width: 150px;
	z-index: 3;
}
#singlegraph{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	width: 150px;
}
.adddtimgli{
	padding: 0 10px;
	margin-top: 10px;
	position: relative;
}
@media (min-width:1080px) {
	.col-small-5 {
		width: 20%;
	}
}

@media (min-width:1366px) {
	.col-min-6 {
		width: 16.6666667%;
	}
}

@media (min-width:1600px) {
	.col-lg-7 {
		width: 14.2857143%;
	}
}
.adddtimgli>div{
	width: 100%;
	border: 1px solid #D4D4D4;
}
/*.adddtimgli>div>img{
	width: 200px;
	height: auto;
}*/
.adddtimgli>span{
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 12px;
}
.addimginp{
	position: relative;
}
.addimginp>input{
	position: absolute;
	top: 50%;
	left: 10%;
	opacity: 0;
}
.addimginp>label{
	width: 60px;
	height: 60px;
}
.addimginp>label>img{
	width: 100%;
	height: 100%;
}
/*编辑器*/

.adddoc-editortop {
	font-size: 18px;
	margin: 10px 30px;
}

.adddoc-editorcontent {
	width: 100%;
	margin: 5px 0;
	padding: 0 30px;
	height: 410px;
}
/*保存、取消*/
.adddoc-editorbt {
	width: 100%;
	text-align: center;
	padding: 0 30px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.adddoc-editorbt>input {
	font-size: 20px;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 5px;
}
/*内容页结束*/
/*地图也开始*/
.mapsearch .inp{
	width: 200px;
	height: 25px;
}
.mapsearch .bt{
	width: 50px;
	height: 25px;
}
/*地图页结束*/
