<div class="slideGroup pgt10" style="margin:0 auto">
    <div class="slideBox">
        <a class="sPrev icon icon-zuo fs26 colft3C" href="javascript:void(0)"></a>
        <ul>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/zq.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">张琦</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/mq.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">倪强</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/wsz.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">吴川祝</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/zba.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">郑柏安</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/gg.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">顾刚</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/bte.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">巴特尔</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/lh.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">李湖</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/wyp.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">王艳萍</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/lhn.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">林海宁</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/lxm.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">李向明</a>
                </div>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank"><img src="/img/leader/wzy.jpg" /></a>
                </div>
                <div class="title">
                    <a href="#" target="_blank" class="fs14 colft00">王忠云</a>
                </div>
            </li>
        </ul>
        <a class="sNext icon icon-you fs26 colft3C" href="javascript:void(0)"></a>
    </div>
</div>
<script>
    jQuery(".slideGroup .slideBox").slide({ autoPlay: false, mainCell: "ul", vis: 8, prevCell: ".sPrev", nextCell: ".sNext", effect: "leftLoop" });
</script>