<!--轮播-->
<!--标题与更多-->
<div class="homelist1top">
    <span class="span1 fs16">党建工作动态</span>
    <a class="span2 fs14 " href="/listPage?model=work">更多&gt;&gt;</a>
</div>
<ul class="homelist1ul">
    <#if result.listObject??>
        <#list result.listObject as work>
            <li class="dyjs overell">
                <span class="fs14 icon icon-iconfontbbgxiayiji mgl5"></span>
                <a href="/getObject?model=${result.model!''}&id=${work.id}" class="ahover">${work.title}</a>
            </li>
        </#list>
    </#if>
</ul>