@font-face {
	font-family: "icon";
	src: url('../fonts/iconfont.ttf') format('truetype');
}

.icon {
	font-family: "icon" !important;
	font-size: 25px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before { content: "\e600"; }

.icon-yonghu:before { content: "\e604"; }

.icon-jia:before { content: "\e618"; }

.icon-yonghu1:before { content: "\e659"; }

.icon-user:before { content: "\e63d"; }

.icon-jia1:before { content: "\e61f"; }

.icon-jian:before { content: "\e620"; }

.icon-yonghu2:before { content: "\e60c"; }

.icon-jian1:before { content: "\e60e"; }

.icon-jian01:before { content: "\e613"; }

.icon-1-copy-copy:before { content: "\e64c"; }

.icon-icon:before { content: "\e621"; }

.icon-right:before { content: "\e602"; }

.icon-login-copy:before { content: "\e60d"; }

.icon-jia2:before { content: "\e630"; }

.icon-file-copy:before { content: "\e626"; }

.icon-wenjianjia:before { content: "\e7a0"; }

.icon-shouye2-copy:before { content: "\e601"; }

.icon-shouye-copy:before { content: "\e603"; }

.icon-leftBlock:before { content: "\e758"; }

.icon-rightBlock:before { content: "\e759"; }

