	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/jquery.jOrgChart.css"/>
	<link rel="stylesheet" href="css/custom.css"/>
	



<!-- jQuery includes -->
	<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>

	<script src="js/jquery.jOrgChart.js"></script>

<script>
jQuery(document).ready(function() {
	$("#org").jOrgChart({
		chartElement : '#chart',
		dragAndDrop  : true
	});
});
</script>
<ul id="org" style="display:none">
<li>
   Food
   <ul>
	 <li class="fruit">Fruit
	   <ul>
		 <li>Apple
		   <ul>
			 <li>Granny Smith</li>
		   </ul>
		 </li>
		 <li>Berries
		   <ul>
			 <li>Blueberry</li>
			 <li><img src="img/raspberry.jpg" alt="Raspberry"/></li>
			 <li>Cucumber</li>
		   </ul>
		 </li>
	   </ul>
	 </li>
	 <li>Bread</li>

   </ul>
 </li>
</ul>            

<div id="chart" class="orgChart"></div>

<script>
	jQuery(document).ready(function() {
		
		/* Custom jQuery for the example */
		$("#show-list").click(function(e){
			e.preventDefault();
			
			$('#list-html').toggle('fast', function(){
				if($(this).is(':visible')){
					$('#show-list').text('Hide underlying list.');
					$(".topbar").fadeTo('fast',0.9);
				}else{
					$('#show-list').text('Show underlying list.');
					$(".topbar").fadeTo('fast',1);                  
				}
			});
		});
		
		$('#list-html').text($('#org').html());
		
		$("#org").bind("DOMSubtreeModified", function() {
			$('#list-html').text('');
			
			$('#list-html').text($('#org').html());
			
			prettyPrint();                
		});
	});
</script>


