<li class="party-img">
    <span class="span1 justify">头 像：<span></span></span>
    <img src="img/hxq.jpg" />
</li>
<li>
    <span class="span1 justify">姓 名：<span></span></span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1 justify">性 别：<span></span></span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1 justify">民 族：<span></span></span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1 justify">年 龄：<span></span></span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1 justify">学 历：<span></span></span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1 justify">住 址：<span></span></span>
    <input type="text" name="" id="" value="海南省海口市龙华区天骋康都" readonly="readonly" />
</li>
<li>
    <span class="span1">所属支部：</span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1 justify">职 务：<span></span></span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1">党员性质：</span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1">入党时间：</span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<li>
    <span class="span1">联系电话：</span>
    <input type="text" name="" id="" value="欧阳平" readonly="readonly" />
</li>
<div class="clearb"></div>