<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/indexnew.css" />
		<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--头部-->
		<header class="new_header">
		</header>
		<!--列表-->
		<nav class="new_nav">
			<ul>
				<li>
					<a href="#" target="_blank">首页</a>
				</li>
				<li>
					<a href="#" target="_blank">入党指南</a>
				</li>
				<li>
					<a href="#" target="_blank">党员学习</a>
				</li>
				<li>
					<a href="#" target="_blank">民主生活会</a>
				</li>
				<li>
					<a href="#" target="_blank">党组织精神</a>
				</li>
				<li>
					<a href="#" target="_blank">党员工作汇报</a>
				</li>
			</ul>
		</nav>
		<!--内容块-->
		<section class="new_section">
			<ul>
				<li class="mgt30">
					<div class="release_piece">
						<div class="piece_top">
							<div>
								<img src="img/redbd.png" />
								<span>党建发布</span>
							</div>
							<a href="#" target="_blank" class="ahover">
								<span>更多</span>
								<span class="icon icon-iconfontbbgxiayiji fs14"></span>
							</a>
						</div>
						<div class="content">
							<div class="image">
								<div id="new_slideBox">
									<div class="hd">
										<ul></ul>
									</div>
									<div class="cnt">
										<ul>
											<li>
												<a href="#" target="_blank"><img src="img/lb1.jpg" /></a>
												<div>1asfdgdbgfdhdfhdfghdfhsdhshdfghfhfghsdhg</div>
											</li>
											<li>
												<a href="#" target="_blank"><img src="img/lb2.jpg" /></a>
												<div>2</div>
											</li>
											<li>
												<a href="#" target="_blank"><img src="img/lb3.png" /></a>
												<div>3</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<ul class="text">
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
								<li>
									<a href="#" target="_blank" class="ahover">
										<img src="img/zfxbd.png" class="zfxtbimg" />
										<span>坚决维护坚决维护坚决维护坚决维护坚决维护</span>
									</a>
									<span class="date">04/06</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="guide_piece">
						<div class="piece_top">
							<div>
								<img src="img/redbd.png" />
								<span>入党指南</span>
							</div>
							<a href="#" target="_blank" class="ahover">
								<span>更多</span>
								<span class="icon icon-iconfontbbgxiayiji fs14"></span>
							</a>
						</div>
						<div class="content">
							<div class="focusBox" style="margin:0 auto">
								<ul class="pic">
									<li>
										<a href="#" target="_blank"><img src="img/lb1.jpg" /></a>
									</li>
									<li>
										<a href="#" target="_blank"><img src="img/lb2.jpg" /></a>
									</li>
									<li>
										<a href="#" target="_blank"><img src="img/lb3.png" /></a>
									</li>
									<li>
										<a href="#" target="_blank"><img src="img/lb4.jpg" /></a>
									</li>
									<li>
										<a href="#" target="_blank"><img src="img/lb5.jpg" /></a>
									</li>
								</ul>
								<a class="prev" href="javascript:void(0)"><img src="img/lreturn.png" /></a>
								<a class="next" href="javascript:void(0)"><img src="img/rreturn.png" /></a>
								<ul class="hd"></ul>
							</div>
						</div>
					</div>
				</li>
				<!---->
				<li class="mgt30">
					<div class="piece_top">
						<div>
							<img src="img/redbd.png" />
							<span>民主生活会</span>
						</div>
						<a href="/listPagePoto?model=organize" class="ahover">
							<span>更多</span>
							<span class="icon icon-iconfontbbgxiayiji fs14"></span>
						</a>
					</div>
					<div class="mgt10 democratic_life">
						<a class="sPrev icon icon-zuo fs26 colft3C" href="javascript:void(0)"></a>
						<ul id="organize_class">

						</ul>
						<a class="sNext icon icon-you fs26 colft3C" href="javascript:void(0)"></a>
					</div>
				</li>
				<!---->
				<li class="mgt10">
					<div class="piece_top">
						<img src="img/redbd.png" />
						<span>党组织精神</span>
					</div>
					<ul class="mgt10 party_spirit">
						<li>
							<div class="party_title">
								<div>
									<img src="img/zfxbd.png" class="zfxtbimg" />
									<span>书记办公室</span>
								</div>
								<a href="/listPage?model=survey" class="ahover">
									<span>更多</span>
									<span class="icon icon-iconfontbbgxiayiji fs14"></span>
								</a>
							</div>
							<ul id="survey_class" class="party_list">

							</ul>
						</li>
						<li>
							<div class="party_title">
								<div>
									<img src="img/zfxbd.png" class="zfxtbimg" />
									<span>党组工作动态</span>
								</div>
								<a href="/listPage?model=work" class="ahover">
									<span>更多</span>
									<span class="icon icon-iconfontbbgxiayiji fs14"></span>
								</a>
							</div>
							<ul id="work_class" class="party_list">

							</ul>
						</li>
						<li>
							<div class="party_title">
								<div>
									<img src="img/zfxbd.png" class="zfxtbimg" />
									<span>帮扶关怀</span>
								</div>
								<a href="/listPage?model=activity" class="ahover">
									<span>更多</span>
									<span class="icon icon-iconfontbbgxiayiji fs14"></span>
								</a>
							</div>
							<ul id="activity_class" class="party_list">

							</ul>
						</li>
					</ul>
				</li>
				<!---->
				<li class="mgt20 party_members">
					<div>
						<div class="piece_top">
							<div>
								<img src="img/redbd.png" />
								<span>党员工作汇报</span>
							</div>
							<a href="/listPage?model=notice" class="ahover">
								<span>更多</span>
								<span class="icon icon-iconfontbbgxiayiji fs14"></span>
							</a>
						</div>
						<ul id="notice_class" class="pmembers_list">

						</ul>
					</div>
					<div>
						<div class="piece_top">
							<div>
								<img src="img/redbd.png" />
								<span>党员学习动态</span>
							</div>
							<a href="/listPage?model=develop" class="ahover">
								<span>更多</span>
								<span class="icon icon-iconfontbbgxiayiji fs14"></span>
							</a>
						</div>
						<ul id="develop_class" class="pmembers_list">

						</ul>
					</div>
				</li>
				<!---->
				<li class="mgt20">
					<div class="piece_top">
						<div>
							<img src="img/redbd.png" />
							<span>在线学习课程</span>
						</div>
						<a href="#" target="_blank" class="ahover">
							<span>更多</span>
							<span class="icon icon-iconfontbbgxiayiji fs14"></span>
						</a>
					</div>
					<ul class="mgt10 online_course">
						<li>
							<a href="#" target="_blank" class="ahover">
								<div class="online_video">
									<div>
										<span class="nametitle">爱奇艺</span>
										<span class="timedate">20:10</span>
									</div>
									<img src="img/lb1.jpg" />
								</div>
								<span class="span1">烦得很几个会需超级多次fdfgsdddddddddd </span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" class="ahover">
								<div class="online_video">
									<div>
										<span class="nametitle">爱奇艺</span>
										<span class="timedate">20:10</span>
									</div>
									<img src="img/lb1.jpg" />
								</div>
								<span class="span1">烦得很几个会需超级多次fdfgsdddddddddd </span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" class="ahover">
								<div class="online_video">
									<div>
										<span class="nametitle">爱奇艺</span>
										<span class="timedate">20:10</span>
									</div>
									<img src="img/lb1.jpg" />
								</div>
								<span class="span1">烦得很几个会需超级多次fdfgsdddddddddd </span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" class="ahover">
								<div class="online_video">
									<div>
										<span class="nametitle">爱奇艺</span>
										<span class="timedate">20:10</span>
									</div>
									<img src="img/lb1.jpg" />
								</div>
								<span class="span1">烦得很几个会需超级多次fdfgsdddddddddd </span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" class="ahover">
								<div class="online_video">
									<div>
										<span class="nametitle">爱奇艺</span>
										<span class="timedate">20:10</span>
									</div>
									<img src="img/lb1.jpg" />
								</div>
								<span class="span1">烦得很<span class="colft01">zfsxf</span></span>
							</a>
						</li>
					</ul>
				</li>
				<!---->
				<li class="mgt20">
					<div class="piece_top">
						<img src="img/redbd.png" />
						<span>党支部地图</span>
					</div>
					<ul class="party_map">
						<li>
							<div class="partymap_title">
								<img src="img/blackbd.png" />
								<span>农村党支部（11）</span>
							</div>
							<ul class="partymap_list">
								<li>
									<a href="#" target="_blank" class="ahover">福安村</a>
								</li>
							</ul>
						</li>
						<li>
							<div class="partymap_title">
								<img src="img/blackbd.png" />
								<span>社区党支部（11）</span>
							</div>
							<ul class="partymap_list">
								<li>
									<a href="#" target="_blank" class="ahover">福安村</a>
								</li>
							</ul>
						</li>
						<li>
							<div class="partymap_title">
								<img src="img/blackbd.png" />
								<span>机关党支部（11）</span>
							</div>
							<ul class="partymap_list">
								<li>
									<a href="#" target="_blank" class="ahover">福安村</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<!--底部-->
		<footer class="party_foot">

		</footer>
		<script src="/js/ajaxCustom.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			jQuery(".democratic_life").slide({ autoPlay: false, mainCell: "ul", vis: 5, prevCell: ".sPrev", nextCell: ".sNext", effect: "leftLoop" });
			//给轮播的li自动循环添加数字
			function lbsize(id1, id2) {
				var lbsize = $(id1 + " li").size();
				for(var i = 1; i <= lbsize; i++) {
					var hdli = document.createElement("li");
					hdli.innerHTML = i;
					$(id2).append(hdli);
				}
			}
			lbsize("#new_slideBox .cnt ul", "#new_slideBox .hd ul");
			jQuery("#new_slideBox").slide({
				mainCell: ".cnt ul",
				autoPlay: true
			});
			/*鼠标移过，左右按钮显示*/
			jQuery(".focusBox").hover(function() {
				jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
			}, function() {
				jQuery(this).find(".prev,.next").fadeOut()
			});
			lbsize(".focusBox .pic", ".focusBox .hd");
			/*SuperSlide图片切换*/
			jQuery(".focusBox").slide({
				mainCell: ".pic",
				effect: "fold",
				autoPlay: true,
				delayTime: 600,
				trigger: "click"
			});
			//模块加载
			$(document).ready(function(){
				/*头部*/
				$('.new_header').load('/main_header');
				/*尾部*/
				$('.party_foot').load('/main_footer');

				postAjax("/listWork",{page:'1/5'},function(data){
					if(data!=null){
						$('#work_class').html(data);
					}
				});
				postAjax("/listDevelop",{page:'1/9'},function(data){
					if(data!=null){
						$('#develop_class').html(data);
					}
				});
				postAjax("/listNotice",{page:'1/9'},function(data){
					if(data!=null){
						$('#notice_class').html(data);
					}
				});
				postAjax("/listSurvey",{page:'1/5'},function(data){
					if(data!=null){
						$('#survey_class').html(data);
					}
				});
				postAjax("/listActivity",{page:'1/5'},function(data){
					if(data!=null){
						$('#activity_class').html(data);
					}
				});
				postAjax("/listOrganize",{page:'1/9'},function(data){
					if(data!=null){
						$('#organize_class').html(data);
					}
				});
			});

		</script>
	</body>

</html>