html,
body {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	min-width: 1042px;
	overflow-x: hidden;
	height: 100%;
	color: #000000;
	font-size: 20px !important;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*自动换行*/

.wpbw {
	word-wrap: break-word;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

li {
	list-style-type: none;
}


/*一行内出现省略号*/

.overell {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/*两行内出现省略号*/

.overell2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*手势为选中*/

.curp {
	cursor: pointer;
}
/*a:hover颜色为红色*/

.ahover:hover {
	color: #E4393C !important;
}


/*行高*/

.lineh2 {
	line-height: 120% !important;
}

.lineh4 {
	line-height: 140% !important;
}

.lineh6 {
	line-height: 160% !important;
}

.lineh8 {
	line-height: 180% !important;
}

.lineh20 {
	line-height: 200% !important;
}


/*字体的颜色头部*/


/*按钮颜色*/

.colbt {}


/*字体颜色*/


/*红色*/

.colft3C {
	color: #E4393C !important;
}


/*白色*/

.colftff {
	color: #FFFFFF !important;
}


/*黑色*/

.colft00 {
	color: #000000 !important;
}


/*暗灰*/

.colft88 {
	color: #888888 !important;
}


/*黄色*/

.colftf0 {
	color: #FAF000 !important;
}


/*暗黑*/

.colft44 {
	color: #444444;
}


/*字体的颜色尾部*/


/*字体hover变红色*/

.hover3C:hover {
	color: #E4393C !important;
}


/*背景色头部*/

.bc36 {
	background: #D33336 !important;
}

.bcee {
	background: #EEEEEE !important;
}


/*背景色尾部*/


/*margin头部*/


/*top*/

.mgt5 {
	margin-top: 5px !important;
}

.mgt10 {
	margin-top: 10px !important;
}

.mgt15 {
	margin-top: 15px !important;
}

.mgt20 {
	margin-top: 20px !important;
}

.mgt25 {
	margin-top: 25px !important;
}

.mgt30 {
	margin-top: 30px !important;
}

.mgt50 {
	margin-top: 50px !important;
}


/*bottom*/

.mgb5 {
	margin-bottom: 5px !important;
}

.mgb10 {
	margin-bottom: 10px !important;
}

.mgb15 {
	margin-bottom: 15px !important;
}

.mgb20 {
	margin-bottom: 20px !important;
}

.mgb25 {
	margin-bottom: 25px !important;
}

.mgb30 {
	margin-bottom: 30px !important;
}

.mgb50 {
	margin-bottom: 50px !important;
}


/*right*/

.mgr5 {
	margin-right: 5px !important;
}

.mgr10 {
	margin-right: 10px !important;
}

.mgr20 {
	margin-right: 20px !important;
}

.mgr30 {
	margin-right: 30px !important;
}


/*left*/

.mgl5 {
	margin-left: 5px !important;
}

.mgl10 {
	margin-left: 10px !important;
}

.mgl15 {
	margin-left: 15px !important;
}

.mgl20 {
	margin-left: 20px !important;
}

.mgl30 {
	margin-left: 30px !important;
}

.mgl50 {
	margin-left: 50px !important;
}

.mgl80 {
	margin-left: 80px !important;
}


/*margin尾部*/


/*padding头部*/


/*top*/

.pgt5 {
	padding-top: 5px !important;
}

.pgt10 {
	padding-top: 10px !important;
}

.pgt15 {
	padding-top: 15px !important;
}

.pgt20 {
	padding-top: 20px !important;
}

.pgt25 {
	padding-top: 25px !important;
}

.pgt30 {
	padding-top: 30px !important;
}


/*bottom*/

.pgb5 {
	padding-bottom: 5px !important;
}

.pgb10 {
	padding-bottom: 10px !important;
}

.pgb15 {
	padding-bottom: 15px !important;
}

.pgb20 {
	padding-bottom: 20px !important;
}

.pgb25 {
	padding-bottom: 25px !important;
}

.pgb30 {
	padding-bottom: 30px !important;
}


/*left*/

.pgl5 {
	padding-left: 5px !important;
}

.pgl10 {
	padding-left: 10px !important;
}

.pgl15 {
	padding-left: 15px !important;
}

.pgl20 {
	padding-left: 20px !important;
}

.pgl25 {
	padding-left: 25px !important;
}

.pgl30 {
	padding-left: 30px !important;
}


/*right*/

.pgr5 {
	padding-right: 5px !important;
}

.pgr10 {
	padding-right: 10px !important;
}

.pgr15 {
	padding-right: 15px !important;
}

.pgr20 {
	padding-right: 20px !important;
}

.pgr25 {
	padding-right: 25px !important;
}

.pgr30 {
	padding-right: 30px !important;
}


/*padding尾部*/


/*font-size头部*/

.fs12 {
	font-size: 12px !important;
}

.fs14 {
	font-size: 14px !important;
}

.fs16 {
	font-size: 16px !important;
}

.fs18 {
	font-size: 18px !important;
}

.fs20 {
	font-size: 20px !important;
}

.fs22 {
	font-size: 22px !important;
}

.fs24 {
	font-size: 24px !important;
}

.fs26 {
	font-size: 26px !important;
}


/*font-size尾部*/


/*border头部*/


/*left*/

.bdleb {
	border-left: 1px solid #EBEBEB !important;
}


/*right*/

.bdreb {
	border-right: 1px solid #EBEBEB !important;
}


/*top*/

.bdteb {
	border-top: 1px solid #EBEBEB !important;
}

.bdt36 {
	border-top: 1px solid #D33336 !important;
}


/*bottom*/

.bdbeb {
	border-bottom: 1px solid #EBEBEB !important;
}


/*border尾部*/


/*对齐方式display头部*/

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.textalignc {
	text-align: center !important;
}

.textalignl {
	text-align: left !important;
}

.textalignr {
	text-align: right !important;
}

.clearb {
	clear: both !important;
}

.dyjc {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.dyja {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.dyjb {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.dyjs {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.dyje {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.dyss {
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}


/*对齐方式display尾部*/


/*加粗*/

.fwb {
	font-weight: bold;
}


/*底部*/

.homefoot {
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 30px;
}

.homefoot>ul {
	margin: 0;
	padding: 0;
}

.homefoot-li1 {
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: 700;
	background: #E4393C;
}

.homefoot-li1>a {
	padding: 0 25px;
	color: #FFFFFF;
}

.homefoot-li1>a {
	border-left: 1px solid #FFFFFF;
}

.homefoot-li1>a:nth-child(1) {
	border: none;
}

.homefoot-li2 {
	width: 100%;
	font-size: 14px;
}

.homefoot-li2>a {
	padding: 0 25px;
	color: #000000;
}

.homefoot-li2>a {
	border-left: 1px solid #000000;
}

.homefoot-li2>a:nth-child(1) {
	border: none;
}

.homefoot-li3 {
	text-align: center;
	width: 100%;
	font-size: 14px;
}

.homefoot-li3>span {
	padding: 0 10px;
	color: #000000;
}


/*底部结束*/


/*首页头部*/

.homeattention {
	height: 160px;
	margin-top: 2px;
	position: relative;
	background: url(../img/djfm.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.homeattention-ul {
	width: 1042px;
	position: absolute;
	bottom: 3px;
	right: 50%;
	margin-right: -521px;
	padding: 0;
	font-size: 12px;
}

.homeattention-li,
.homeattention-lifont {
	float: right;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	height: 40px;
	text-align: center;
	padding: 0 5px;
}

.homeattention-lifont {
	width: 60px;
}


/*首页列表*/

.homelist {
	position: relative;
	height: 48px;
	width: 100%;
	background: #E4393C;
	margin: 0;
}

.homelist-ul {
	margin: 0;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -521px;
	width: 1042px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #E4393C;
	color: #2F2F2F;
	padding: 0;
}

.homelist-ul>li {
	position: relative;
	width: -moz-calc(100% / 8);
	width: -webkit-calc(100% / 8);
	width: calc(100% / 8);
	margin: 0;
	height: 100%;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 16px;
	background: #FFFFFF;
}

.homelist-ul>li>a {
	color: #000000;
}

.homelist-ul>li>a:hover {
	color: #E4393C;
}
.homelist-ul>li {
	border-right: 1px solid #E0E0E0;
}

.homelist-ul>li {
	border-right: 1px solid #E0E0E0;
}

.homelist-ul>li:first-child {
	border-right: 1px solid #E0E0E0;
}

.homelist-ul>li:last-child {
	border: none;
}


/*首页头部结束*/


/*首页内容*/

.courthome>section {
	padding-left: 50%;
}

.homecontent {
	width: 1042px;
	margin-left: -521px;
	background: #FFFFFF;
	padding: 0 20px;
	padding-bottom: 10px;
}


/*政务网站群*/

.homegroup {
	width: 1042px;
	height: 120px;
	background: #FFFFFF;
	margin-left: -521px;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
}

.homegroup>.title {
	width: 260px;
	height: 100%;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	line-height: 180%;
}

.homegroup>.div2 {
	width: 700px;
	height: 100%;
	margin: 0;
	padding: 15px 0;
}

.homegroup>.div2>a {
	text-align: center;
	float: left;
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	color: #000000;
}


/*政务网站群结束*/


/*内容*/


/*搜索与最近更新*/


/*搜索*/

.homesearch {
	width: 350px;
}

.homesearch .inp1 {
	height: 25px;
	width: 250px;
	font-size: 14px;
	border: 1px solid #D4D4D4;
	padding: 0 5px;
}

.homesearch .bt1 {
	height: 25px;
	width: 60px;
	border-radius: 4px;
	background: #EEEEEE;
	border: 1px solid #D4D4D4;
}


/*最近更新*/

.homeupdated {
	width: 580px;
}

.homeupdated span {
	display: inline-block;
	width: 100px;
	text-align: center;
}


/*文字滚动*/

.txtMarquee-left {
	width: 480px;
	position: relative;
}

.txtMarquee-left .bd ul {
	overflow: hidden;
	zoom: 1;
}

.txtMarquee-left .bd ul li {
	float: left;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: left;
	_display: inline;
	width: auto !important;
}


/*轮播、列表、新闻上滚动*/

.homelb1,
.homelist1 {
	height: 300px;
}


/*轮播*/

.slidedtlb {
	width: 515px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.slidedtlb .hd {
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}

.slidedtlb .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}

.slidedtlb .hd ul li {
	float: left;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	border-radius: 50%;
}

.slidedtlb .hd ul li.on {
	background: #f00;
	color: #fff;
}

.slidedtlb .cnt {
	position: relative;
	height: 100%;
	z-index: 0;
}

.slidedtlb .cnt li {
	zoom: 1;
	vertical-align: middle;
}

.slidedtlb .cnt li div {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	color: #FFFFFF;
}

.slidedtlb .cnt img {
	width: 515px;
	height: 300px;
	display: block;
}


/*列表*/

.homelist1 {
	width: 527px;
	overflow: hidden;
}

.homelist1top {
	position: relative;
	height: 30px;
	line-height: 22px;
	z-index: 1;
	border-bottom: 8px solid #C40004;
	text-align: right;
}

.homelist1top .span1 {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	background: #FFC2BD;
	color: #C40004;
	text-align: center;
}

.homelist1top .span2 {
	color: #888888;
}

.homelist1top .span2:hover {
	color: #E4393C;
}

.homelist1ul {
	margin: 0;
	width: 100%;
	padding: 5px 0;
}

.homelist1ul>li {
	display: block;
	margin-right: 10px;
	height: 37px;
	line-height: 37px;
	font-size: 15px;
}

.homelist1ul>li>a {
	color: #000000;
}


/*列表分左右部分*/

.homecntleft {
	width: -moz-calc(100% - 195px);
	width: -webkit-calc(100% - 195px);
	width: calc(100% - 195px);
}

.homecntleftdiv {
	width: -moz-calc(100% / 2 - 5px);
	width: -webkit-calc(100% / 2 - 5px);
	width: calc(100% / 2 - 5px);
}

.homefourth-div {
	height: 100%;
	border: 1px solid #E3E3E3;
	border-top: 2px solid #E4393C;
	border-bottom: 1px solid #D4D4D4;
}

.listthree {
	width: -moz-calc((100% - 20px) / 3) !important;
	width: -webkit-calc((100% - 20px) / 3) !important;
	width: calc((100% - 20px) / 3) !important;
}


/*头部*/

.homefourth-div>.head {
	height: 36px;
	padding: 0 10px;
	border-bottom: 1px solid #D4D4D4;
}

.homefourth-div>.head>span {
	font-size: 15px;
	font-weight: 800;
	color: #E4393C;
}

.homefourth-div>.head>a {
	font-size: 12px;
	color: #888888;
}


/*内容*/

.homefourth-div>.content {
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.homefourth-div>.content>div {
	height: 25px;
	padding-right: 45px;
	margin-left: 10px;
	position: relative;
	border-bottom: 1px dashed #D4D4D4;
}


/*图片滚动*/

.homescrollimg {}


/*右边*/

.homecntright {
	width: 195px;
	height: auto;
}


/*党员发展*/

.homelist2 {
	width: 692px;
	height: 280px;
	position: relative;
}

.homelist2>.head {
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}

.homelist2>.head>.div1 {
	width: 100px;
	text-align: center;
	border-bottom: 3px solid #E4393C;
}

.homelist2>.head>.div2 {
	width: 592px;
	text-align: right;
	border-bottom: 3px solid #DDDDDD;
}

.homelist2>.cnt {
	width: 100%;
	height: 244px;
	font-size: 18px;
	padding: 20px 10px;
	overflow: hidden;
}


/*图片*/

.homelist2-img {
	height: 100%;
	width: 250px;
}

.homelist2-img>img {
	height: 100%;
	width: 100%;
}


/*标题与内容*/

.homelist2-cnt {
	height: 100%;
	width: 442px;
}

.homelist2-cnt>a,
.homelist2-cnt>div {
	width: 100%;
}


/*通知公告*/

.homenewgd1 {
	width: 350px;
	height: 280px;
	border: 1px solid #E3E3E3;
	border-top: 3px solid #E4393C;
	border-bottom: 1px solid #D4D4D4;
	overflow: hidden;
	position: relative;
}

.homenewgd1 .hd {
	overflow: hidden;
	width: 100%;
	height: 36px;
	line-height: 36px;
	color: #E4393C;
	font-size: 16px;
	padding: 0 10px;
	font-weight: 800;
	border-bottom: 1px solid #D4D4D4;
}

.homenewgd1 .demo {
	width: 100%;
	margin: 5px;
	height: 234px;
	font-size: 18px;
	line-height: 150%;
	padding: 5px 10px 0 5px;
	overflow: hidden;
}

.homenewgd1 .demo>div>span {
	display: inline-block;
	width: 30px;
}

.homenewgd1 .demo>div>a {
	display: inline-block;
	width: -moz-calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
}


/*多图轮播*/

.homelb2-head {
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}

.homelb2-head>.div1 {
	width: 150px;
	height: 100%;
	text-align: center;
	border-bottom: 3px solid #DDDDDD;
	cursor: pointer;
}
.on{
	color: #E4393C !important;
	border-bottom: 3px solid #E4393C !important;
}
.homelb2-head>.div2 {
	height: 100%;
	display: inline-block;
	width: -moz-calc(100% - 150px*4);
	width: -webkit-calc(100% - 150px*4);
	width: calc(100% - 150px*4);
	text-align: right;
	border-bottom: 3px solid #DDDDDD;
}


/*多图轮播*/

.slideGroup {
	width: 100%;
	height: 165px;
	text-align: left;
}

.slideGroup .slideBox {
	overflow: hidden;
	zoom: 1;
	padding: 10px 0 10px 37px;
	position: relative;
}

.slideGroup .sPrev,
.slideGroup .sNext {
	display: block;
	position: absolute;
	left: 5px;
	top: 10px;
	width: 30px;
	height: 165px;
	line-height: 150px;
}

.slideGroup .sNext {
	left: auto;
	right: 5px;
}

.slideGroup .sPrev:hover,
.slideGroup .sNext:hover {
	border-color: #f60;
}

.slideBox ul {
	overflow: hidden;
	zoom: 1;
}

.slideBox ul li {
	margin: 0 8px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}

.slideBox ul li .pic {
	text-align: center;
}

.slideBox ul li .pic img {
	width: 100px;
	height: 135px;
	display: block;
	padding: 2px;
}

.slideBox ul li .pic a:hover img {
	border-color: #999;
}

.slideBox ul li .title {
	text-align: center;
	height: 30px;
	width: 100px;
}


/*内容结束*/
/*首页内容结束*/
/*列表页头部*/
/*位置*/
.agencyset-title {
	width: 1042px;
	height: 45px;
	font-size: 15px;
	padding-left: 20px;
	background: #FFFFFF;
	line-height: 45px;
	margin-left: -521px;
}
/*搜索*/
.agencyset-content {
	width: 1042px;
	margin-left: -521px;
	padding: 15px;
	background: #FFFFFF;
}
.list-search {
	border: 1px solid #E3E3E3;
	width: 100%;
	background: #FFF8DC;
	padding: 20px 0;
}
/*搜索框*/
.list-searchbar {
	font-size: 14px;
	width: 100%;
}
.list-searchbar>li{
	margin-left: 20px;
	margin-right: 20px;
}
.list-searchbar .inp1 {
	width: 200px;
}

.list-searchbar .inp2 {
	width: 140px;
}

.list-searchbar .inp3 {
	display: inline-block;
	width: 15px;
}

.list-searchbar input,
.list-searchbar button {
	height: 30px;
}
.list-searchbar .bt {
	width: 130px;
	background: #E4393C;
	height: 30px;
	border: none;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
/*题目列表*/
.list-content {
	border: 1px solid #CCC6B0;
	padding: 10px 20px 40px 20px;
}
.list-content .listli{
	border-bottom: 1px dashed #D4D4D4;
}
.list-content .listli>a{
	width: 830px;
}
.list-content .listli>.div1{
	width: 20px;
	text-align: left;
}
.list-content .listli>.div2{
	width: 120px;
	text-align: right;
}
/*分页*/
.list-paging .bt{
	font-size: 16px;
	width: 60px;
	height: 30px;
	background: #F5F5F5;
	border: 1px solid #888888;
	border-radius: 2px;
}
.list-paging .div3{
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	background: #F5F5F5;
	border-radius: 2px;
}
.list-paging .div3>a{
	display: inline-block;
	height: 100%;
	width: 25px;
	color: #000000;
}
.listahover:hover{
	color: #E4393C !important;
	text-decoration:underline !important;
}
.alistactive{
	border: 1px solid #888888 !important;
}
.list-paging .inp{
	height: 30px;
	width: 50px;
	text-align: center;
}
/*列表页尾部*/
/*内容查看页头部*/
.detail-content {
	width: 1042px;
	margin-left: -521px;
	padding: 20px 45px 40px 45px;
	background: #FFFFFF;
}

.detail-content>.title {
	font-size: 30px;
	text-align: center;
}

.detail-content>.middle {
	border-bottom: 1px solid #D4D4D4;
	font-size: 16px;
	padding-top: 10px;
}

.detail-content>.edit {
	border-top: 1px solid #D4D4D4;
	font-size: 16px;
	padding: 10px 0;
	color: #7A7A7A;
	text-align: left;
}
.detailbt{
	background: #FFFFFF;
	border: none;
}
/*内容查看页尾部*/
.hoverul{
	position: absolute;
	top: 48px;
	left: 0;
	display: none;
	z-index: 1000000;
	background: #FFFFFF;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	width: 150px;
	text-align: left;
	padding: 10px;
}
.hoverul>li{
	height: 35px;
	line-height: 35px;
	cursor: pointer;
}
.hoverul>li a{
	color: #000000;
}
.hoverul>li a:hover{
	color: #E4393C;
}
