<div class="left fl">
	<ul class="aside-list mgt10 mgl10 mgr10">
		<#if (result.listObject)??>
			<#list result.listObject as Object>
				<li class="">
					<a class="colftb levelone" id="${Object.order_number}">${Object.node_name}</a>
				</li>
			</#list>
		</#if>
	</ul>
</div>
<div class="right dyjc fr">
	<div class="dyjc icon icon-leftBlock fs16 clickhs"></div>
</div>

<script src="/js/ajaxCustom.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" >



	//二级点击事件
	/*$(".aside-listdrop li a").click(function() {
		$(this).addClass("asidelistacv");
		$(this).siblings().removeClass("asidelistacv");
		$(this).parents(".aside-listdrop").siblings("a").addClass("asidelistacv");
		$(this).parent().siblings("a").addClass("asidelistacv");
		$(this).parents("li").siblings().find("a").removeClass("asidelistacv");
		$(this).parents("li").siblings().find(".aside-listdrop>li").removeClass("asidelistacv");

	});*/
	//点击侧边隐藏
	var i = 1;
	var bodyw = document.body.clientWidth;
	var asides = bodyw - 10;
	var asidel = bodyw - 255;
	$(".courtbcdoc-aside .clickhs").click(function() {
		if(i % 2 == 0) {
			$(".courtbcdoc-cont").animate({
				width: asidel
			}, "fast", function() {
				$(this).css("overflow-y", "auto")
			});
			$(".courtbcdoc-aside>.left").animate({
				width: "245px"
			}, "fast");
			$(".courtbcdoc-aside").animate({
				width: "255px"
			}, "fast");
		} else {
			$(".courtbcdoc-aside>.left").animate({
				width: 0
			}, "fast");
			$(".courtbcdoc-aside").animate({
				width: "10px"
			}, "fast");
			$(".courtbcdoc-cont").animate({
				width: asides
			}, "fast", function() {
				$(this).css("overflow-y", "auto")
			});
		}
		$(this).toggleClass("icon-rightBlock");
		$(this).toggleClass("icon-leftBlock");
		i++;
	});
</script>